# Python
__pycache__/
*.py[cod]
*.so

# Ambiente virtual
venv/
.venv/

# Django
*.log
db.sqlite3
staticfiles/
media/

# Variáveis de ambiente
.env
deploy/deploy.conf

# Testes
.coverage
.pytest_cache/
htmlcov/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Claude
resume_claude.txt
.claude/
